<h1>BG measurements</h1>

<table>
  <tr>
    <th>
      Time
    </th>
    <th>
      Value
    </th>
  </tr>

  <% @measurements.each do |m| %>
    <tr>
      <td>
        <%= m.time %>
      </td>
      <td>
        <%= m.value %>
      </td>
    </tr>
  <% end %>
</table>
