<div id='hours-picker' class='row'>
  <div class='col-xs-12'>
    <%= render partial: 'shared/hours_slider' %>
    |
    <%= link_to label, "#{path}?#{request.query_string}", title: label %>
  </div>
</div>
