<span id='legend'></span> | <div id='slider' data-slider-handle='round' data-slider-id='hours'></div>

<script>
  var maxdays = 10
  var ticks = []
  for(var i = 1; i <= maxdays; i++) {
    ticks.push(i * 24)
  }

  $('#slider').slider({
    ticks: ticks,
    ticks_snap_bounds: 24,
    value: <%= @hours %>,
    formatter: function(value) {
      return period(value)
    },
    tooltip_position: 'bottom'
  })

  $('#slider').slider().on('slideStop', function(ev) {
    window.location.href = '?hours=' + $('#slider').data('slider').getValue()
  })

  $('#legend').text(period(<%= @hours %>))

  function period(hours) {
    var string = (hours <= 48) ? hours + ' hrs' : Math.round(hours / 24) + ' days'
    return 'last ' + string
  }
</script>
