
<!--<% intervals.each do |interval| %>
  <% if @hours == interval %>
    <span class='active'>
    <%= "Last #{interval} hours" %>
  <% else %>
    <span>
    <%= link_to "Last #{interval} hours", "#{request.path}?hours=#{interval}" %>
  <% end %>
</span>
<% end %>
-->

<%= render partial: 'shared/slider' %>
