<%= link_to "Add #{title}",
    send("new_#{@metrics.class.to_s.split('::')[0].underscore}_path".to_sym),
    class: 'btn btn-success pull-right' %>
<h1><%= title.titleize %></h1>

<%= render partial: 'shared/table', locals: {
  metrics: @metrics
} %>
