<table class='table table-bordered table-hover' id='recent'>
  <% @bucketed_metrics.each_pair do |day, values| %>
    <tr>
      <th colspan='<%= @bucketed_metrics.widest %>' class='day-marker'>
        <% date = Time.parse(day) %>
        <%= date.strftime "%A %B #{date.day.ordinalize}" %>
        <% if @with_year %>
          <%= date.strftime "%Y" %>
        <% end %>
      </th>
    </tr>
    <% values.each do |value| %>
      <% padding = @bucketed_metrics.widest - value.presenter.width %>
      <%= value.presenter.to_tr(padding: padding).html_safe %>
    <% end %>
  <% end %>
</table>
