<tr>
  <td>
    <%= link_to passed_value.datetime.strftime('%H:%M'),
      send("edit_#{passed_value.class.name.underscore}_path".to_sym, passed_value) %>
    <!-- this resolves to e.g. edit_medication_event_path -->
  </td>

  <% fields.each do |field| %>
    <td class='<%= "#{passed_value.class.name.underscore.gsub('_', '-')}-#{field}" %>'>
      <%= passed_value.send(field) %>
    </td>
  <% end %>
</tr>
