<h1>Correction Dose</h1>
<div id='add-links'>
  <% models.each do |model| %>
    <%= link_to "Add #{model.short_name}", send("new_#{model.name.underscore}_path"), class: 'btn btn-success' %>
  <% end %>
</div>
