<%= render partial: 'shared/add_links' %>

<%= render partial: 'shared/hours_picker', locals: {
  label: 'Data',
  fontawesome: 'fa-list-ul',
  path: root_path
}%>

<div id='chart'></div>

<script>
  $.getJSON(document.URL, function(json) {
    graph(json)
  })

  function graph(json) {
    var bg = {
      x: points(json['glucose'], 'value')['x'],
      y: points(json['glucose'], 'value')['y'],
      type: 'scatter',
      name: 'Glucose',
      line: {
        color: '#fa5100'
      }
    }

    var meds = {
      x: points(json['meds'], 'dose')['x'],
      y: points(json['meds'], 'dose')['y'],
      yaxis: 'y2',
      mode: 'markers',
      name: 'Meds',
      text: json['meds'].map(function(item){ return item['insulin'] } )
    }

    shapes = [
      {
        type: 'rect',
        xref: 'x',
        yref: 'y',

        x0: bg['x'][bg['x'].length - 1],
        x1: bg['x'][0],

        y0: 4.5,
        y1: 8,

        fillcolor: '#fabfa2',
        opacity: 0.2,
        line: {
          width: 0
        }
      }
    ]

    var layout = {
      xaxis: {
        type: 'datetime',
        tickangle: 315,
        tickformat: "%a %H:%M",
        color: '#abcdef'
      },
      yaxis: {
        title: 'Glucose (mmol/L)',
        titlefont: {
          size: 14,
          color: '#7f7f7f'
        },
      },
    /*  yaxis2: {
        overlaying: 'y',
        side: 'right',
        title: 'Insulin (Units)',
        color: '#fa8100',
        titlefont: {
          size: 14,
          color: '#7f7f7f'
        },
        // https://plot.ly/python/overview/
        tickcolor: '#f00'
      },*/
      autosize: false,
      height: 450,
      width: 380,
      margin: {
        l: 50, r: 40, t: 20
      },
      legend: {
        xanchor:"center",
        yanchor:"top",
        y:-0.3,
        x:0.5
      },
      shapes: shapes
    }

    datas = [bg] //,meds]

    Plotly.newPlot('chart', datas, layout, { displayModeBar: false })
  }
</script>
