<%= render partial: 'shared/add_links' %>

<%= render partial: 'shared/hours_picker', locals: {
  label: 'Data',
  path: root_path
}%>

<div id='chart'></div>

<script>
  $.getJSON(document.URL, function(json) {
    graph(json)
  })

  function ecks(json) {
    'datetime'
  }

  function why(json) {
    'value'
  }

  function mapPoints(json, axis) {
    return json.map(function(item){ return item[axis] })
  }

  function fixTimeStamps(data) {
    return data.map(function(date){ return date.replace('T', ' ').replace('.000Z', '') })
  }

  function points(json, y_field) {
    return {
      x: fixTimeStamps(mapPoints(json, 'datetime')),
      y: mapPoints(json, y_field)
    }
  }

  function graph(json) {
    // https://plot.ly/javascript/reference/#scatter-hoverinfo
    // https://plot.ly/javascript/reference/#scatter-marker-sizemode
    var bg = {
      x: points(json['glucose'], 'value')['x'],
      y: points(json['glucose'], 'value')['y'],
      type: 'scatter',
      name: 'Glucose',
      line: {
        color: '#fa5100'
      }
    }

    var meds = {
      x: points(json['meds'], 'dose')['x'],
      y: points(json['meds'], 'dose')['y'],
      yaxis: 'y2',
      mode: 'markers', //+text',
    //  textposition: 'top right',
      name: 'Meds',
      text: json['meds'].map(function(item){ return item['insulin'] } )
    }

    var carbs = {
      x: points(json['carbs'], 'weight')['x'],
      y: points(json['carbs'], 'weight')['y'],
      mode: 'markers', //+text',
    //  textposition: 'top right',
      name: 'Carbs'
    }

    var layout = {
      xaxis: {
        type: 'datetime',
        tickangle: 315,
        tickformat: "%a %H:%M"
      },
      yaxis: {
        title: 'Glucose (mmol/L)',
        titlefont: {
          size: 14,
          color: '#7f7f7f'
        },
      },
    /*  yaxis2: {
        overlaying: 'y',
        side: 'right',
        title: 'Insulin (Units)',
        color: '#fa8100',
        titlefont: {
          size: 14,
          color: '#7f7f7f'
        },
        // https://plot.ly/python/overview/
        tickcolor: '#f00'
      },*/
      autosize: false,
      height: 500,
      width: 380,
      margin: {
        l: 50, r: 40, t: 20
      },
      legend: {
        xanchor:"center",
        yanchor:"top",
        y:-0.3, // play with it
        x:0.5   // play with it
      }
    }

    datas = [bg] //,meds, carbs]

    Plotly.newPlot('chart', datas, layout, { displayModeBar: false })
  }
</script>
