<h1>BG measurements</h1>

<table>
  <tr>
    <th>
      Datetime
    </th>
    <th>
      Value
    </th>
  </tr>

  <% @glucose_measurements.each do |measurement| %>
    <tr>
      <td>
        <%= measurement.datetime %>
      </td>
      <td>
        <%= measurement.value %>
      </td>
      <td>
        <%= link_to 'Destroy', glucose_measurement_path(measurement),
                               method: :delete,
                               data: {
                                 confirm: 'Are you sure?'
                                } %>
      </td>
    </tr>
  <% end %>
</table>
