<h1>BG measurements</h1>

<table class='table table-bordered table-striped'>
  <% date_sift(@glucose_measurements).keys.each do |k| %>
    <tr>
      <th colspan=2>
        <%= k %>
      </th>
    </tr>
    <% date_sift(@glucose_measurements)[k].each do |m| %>
      <tr>
        <td>
          <%= link_to m.datetime.strftime('%H:%M'), edit_glucose_measurement_path(m) %>
        </td>
        <td>
          <%= link_to m.value, edit_glucose_measurement_path(m) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Add new measurement', new_glucose_measurement_url, class: 'btn btn-success' %>
