<h1>BG measurements</h1>

<table class='table table-bordered table-striped'>
  <% date_sift(@glucose_measurements).each_pair do |day, values| %>
    <tr>
      <th colspan=2>
        <% date = Time.parse(day) %>
        <%= date.strftime "%A %B #{date.day.ordinalize}" %>
      </th>
    </tr>
    <% values.each do |v| %>
      <tr>
        <td>
          <%= link_to v.datetime.strftime('%H:%M'), edit_glucose_measurement_path(v) %>
        </td>
        <td>
          <%= link_to v.value, edit_glucose_measurement_path(v) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Add new measurement', new_glucose_measurement_url, class: 'btn btn-success' %>
