<% @metrics.each do |metric| %>
<div class='row'>
  <div class='col-xs-8'>
    <h1><%= class_name(metric).short_name %></h1>
  </div>
  <div class='col-xs-4'>
    <%= link_to "Add #{class_name(metric).short_name}",
        send("new_#{metric.class.to_s.split('::')[0].underscore}_path".to_sym),
        class: "btn #{button_name metric} pull-right" %>
  </div>
</div>
<%= render partial: 'shared/accordion_table', locals: {
  metrics: metric,
  with_year: true
} %>
<% end %>
