@import 'colours';
@import 'fonts';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'plugins';
@import 'nav';
@import 'slider';
@import 'buttons';
@import 'table-rows';

html {
  position: relative;
  min-height: 100%;
}

body {
  text-transform: lowercase;
}

h1, h2 {
  margin: 0;
}

.bg-high {
  color: lighten(map-get($palette, glucose-measurement), 30%);
  background-color: saturate(map-get($palette, glucose-measurement), 50%);
  font-weight: bold;
}

.bg-low {
  color: saturate(map-get($palette, glucose-measurement), 50%);
  background-color: lighten(map-get($palette, glucose-measurement), 30%);
  font-weight: bold;
}

a {
  color: $brand-primary;
}

.buttons {
  padding-top: $padding-large-vertical;
}

// from http://stackoverflow.com/questions/15155890/styling-form-error-message-bootstrap-rails
#error_explanation {
  padding: $padding-small-horizontal;

  background-color: red;
  color: white;
  h2 {
    font-size: 1.5em;
  }

  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

table {
  .day-marker {
    background-color: $gray-lighter;
  }
}

#hours-picker {
  i {
    font-size: 1.2em;
    position: relative;
    bottom: -3px;
  }
}

.new-metric, .edit-metric {
  font-size: 1.5em;
}
