@import 'colours';
@import 'fonts';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'plugins';
@import 'nav';

html {
  position: relative;
  min-height: 100%;
}

body {
  text-transform: lowercase;
}

h1 {
  margin: 0;
}

.btn {
  text-transform: lowercase;
}

.bg-high {
  background-color: $warning-pink;
}

.bg-low {
  background-color: $warning-blue;
}

a {
  color: $brand-primary;
}

.buttons {
  padding-top: $padding-large-vertical;
}
