@import 'colours';
@import 'fonts';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'plugins';
@import 'nav';

html {
  position: relative;
  min-height: 100%;
}

.bg-high {
  background-color: $warning-pink;
}

.bg-low {
  background-color: $warning-blue;
}

a {
  color: $brand-primary;
}
