.btn {
  text-transform: lowercase;
}

.btn {
  color: white;
}

.btn-glucose-measurement {
  background-color: $glucose-measurement;
}

.btn-carbohydrate-intake {
  background-color: $carbohydrate-intake;
}

.btn-medication-event {
  background-color: $medication-event;
}

.btn-physical-exercise {
  background-color: $physical-exercise;
}

.btn-glycated-haemoglobin {
  background-color: $glycated-haemoglibin;
}

.btn-blood-pressure {
  background-color: $blood-pressure;
}

.btn-back {
  background-color: $gray-light;
}

.btn-delete {
  background-color: $gray-dark;
}
