.btn {
  text-transform: lowercase;
}

.btn {
  color: white;
}

.btn-glucose {
  background-color: $glucose;
}

.btn-carbs {
  background-color: $carbs;
}

.btn-meds {
  background-color: $meds;
}

.btn-exercise {
  background-color: $exercise;
}

.btn-hba1c {
  background-color: $hba1c;
}

.btn-blood-pressure {
  background-color: $bp;
}

.btn-back {
  background-color: $gray-light;
}

.btn-delete {
  background-color: $gray-dark;
}
