.btn {
  text-transform: lowercase;
  padding: 5px;
}

.btn {
  color: white;
}

.btn-back {
  background-color: $gray-light;
}

.btn-delete {
  background-color: $gray-dark;
}

@each $metric, $colour in $palette {
  .btn-#{$metric} {
    background-color: $colour;
  }
}
