$orange: #fa5100;
$yellow: #fa9400;
$blue: #0c58a2;
$green: #00a86d;

$brand-primary: $orange;
$warning-pink: #ffe6e6;
$warning-blue: #ece6ff;

$glucose: $orange;
$carbs: $blue;
$meds: $yellow;
$exercise: $green;
