$orange: #fa5100;
$yellow: #fa9400;
$blue: #0c58a2;
$green: #00a86d;
$purple: #7f2a68;
$olive: #729c34;
$pale-blue: #5086bb;
$dirty-yellow: #999500;

$brand-primary: $orange;

$glucose-measurement: $orange;
$medication-event: $blue;
$carbohydrate-intake: $yellow;
$physical-exercise: $green;
$glycated-haemoglibin: $pale-blue;
$blood-pressure: $dirty-yellow;

$bg-high: $purple;
$bg-low: $olive;
