#hours {
  margin: $padding-small-horizontal;

  .slider-handle {
    background: $brand-primary;
  }

  .slider-selection {
    background: $gray-lighter;
  }

  .slider-tick {
    background: $orange-faded;
  }
}
